.unstyled-list {
    list-style-type: none;
    display: inline;
}
body {
    font-family: sans-serif;
    line-height: 1.5;
  }
 img {
    display: block;
    max-width: 100%;
    height: auto;
 } 
.container {
    width: 100%;
    display: inline-block;
}
.logo {
    display: inline-block;
}
.main-menu {
    display: inline-block;
}
.main-menu-contacts {
    display: inline-block;   
}
.link {
    text-decoration: none;
}
.page-section-list {
   display: flex;
   gap: 1;
   justify-content: space-between; 
   text-align: center;
}
.main-menu-item {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
}
.page-header {
   background-color:white;
   fill: solid;
   display: flex;
   padding: 2px;
   width: 1600px;
   height: 80px;
   left: 0px;
   top: 0px;
   margin: 0 auto;
   position: absolute;
}
.main-menu-contacts {
    margin-left: auto;
    list-style-type: none;
}
.web-studio {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-align: left;
    vertical-align: top;
}  
.logo-highlight {
    color: #2196F3;  
}
.studio {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
    fill: solid;
    text-align: left;
    vertical-align: top;
}
.portofolio {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    fill: solid;
    text-align: left;
    vertical-align: top;
}
.all {
    background-color: #2196F3;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color:#FFFFFF;
}
.web-site {
    background-color: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color: #212121;
}
.apps {
    background-color: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color: #212121;
}
.design {
    background-color: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color: #212121; 
}
.marketing {
    background-color: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color: #212121; 
}
.contacts {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    fill: solid;
    text-align: left;
    vertical-align: top; 
}
.mail1 {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    fill: solid;
    text-align: left;
    vertical-align: top;
    color: #2196F3;  
}
.tel1 {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    fill: solid;
    text-align: left;
    vertical-align: top;
    color: #757575;    
}
.title-section {
    background-color: #2F303A;
    width: 1600px;
    height: 400px;
    top: 80px;
    left: 0px;
    margin:auto;
    display:inline-block;
}
.title {
    background-color:#2F303A;
    font-family: roboto;
    font-weight: 900;
    font-size: 30px;
    line-height:normal;
    text-align: center;
    padding: 20px;
    fill: solid;
    color:#FFFFFF;
    width: 696px;
    height: 120px;
    top: 280px;
    left: 452px;
    margin:auto;
    padding:auto;
}
.button {
    text-align: center;
}
.button-request {
    background-color:#2196F3;
    font-family: roboto;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.8;
    text-align: center; 
    vertical-align: center;
    fill: solid;
    color:#FFFFFF; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    top: 440px;
    left: 700px;
    border-radius: 4px;
    border: #2196F3;
    display: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);     
}
.text-section {
    display: inline-block;  
}
.attention {
    display: inline-block;
}
.punctuality {
    display: inline-block;
}
.planning {
    display: inline-block;
}
.modern {
    display: inline-block;  
}
.what-section {
    display: inline-block;
}
.img2-image {
    display: inline-block;
}
.img-image {
    display: inline-block;
}
.img1-image {
    display: inline-block;
}
.what {
    font-family: roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
    text-align: center;
}
.our-section {
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    display: inline-block;
}
.our {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
    text-align: center; 
}
.christopher-section {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    display:inline-block;
}
.christopher-image {
    margin-bottom: 30px;
    border: 2px;
}
.christopher {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}
.product {
    margin-bottom: 0;
    margin-top: 0;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
    text-align: center;
}
.kylie-section {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    display:inline-block;
}
.kylie-image {
    margin-bottom: 30px;
    border: 2px;
}
.kylie {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}
.frontend {
    margin-bottom: 0;
    margin-top: 0;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
    text-align: center;
}
.ryan-section {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    display:inline-block;
}
.ryan-image {
    margin-bottom: 30px;
    border: 2px;
}
.ryan {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}
.marketing {
    margin-bottom: 0;
    margin-top: 0;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
    text-align: center;
}
.tyler-section {
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    display:inline-block;
}
.tyler-image {
    margin-bottom: 30px;
    border: 2px;
}
.tyler {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}
.designer {
    margin-bottom: 0;
    margin-top: 0;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    color: #757575;
    text-align: center;
}
.page-section1 {
    background-color: #2F303A;
}
.WebStudio1 {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
    text-align: left;
}
.logo-highlight1 {
    color: #2196F3;  
}
.adress {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    fill: solid;
    text-align: left;
    vertical-align: top;
}
.mail {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    fill: solid;
    text-align: left;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.6);  
}
.tel {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    fill: solid;
    text-align: left;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.6);    
}
.page-section2 {
    background-color: #2F303A;
}

