.unstyled-list {
    list-style-type: none;
    display: inline-block;
}
.container {
    width: 100%;
    display: inline-block;
}
.logo {
    display: inline-block;
}
.main-menu {
    display: inline-block;
}
.main-menu-contacts {
    display: inline-block;   
}
.link {
    text-decoration: none;
}
.page-section-list {
   display: flex;
   gap: 1;
   justify-content: space-between; 
   text-align: center;
}
.main-menu-item {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
}
.page-header {
    background-color:white;
   fill: solid;
   display: flex;
   padding:2em ;
   width: 1380px;
   margin: 0 auto;
}
.main-menu-contacts {
    margin-left: auto;
    list-style-type: none;
}
.web-studio {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-align: left;
    vertical-align: top;
}  
.logo-highlight {
    color: #2196F3;  
}
.studio {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
    fill: solid;
    text-align: left;
    vertical-align: top;
}
.portofolio {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    fill: solid;
    text-align: left;
    vertical-align: top;
}
.all {
    background-color: #2196F3;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color:#FFFFFF;
}
.web-site {
    background-color: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color: #212121;
}
.apps {
    background-color: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color: #212121;
}
.design {
    background-color: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color: #212121; 
}
.marketing {
    background-color: #F5F4FA;
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center; 
    vertical-align: top;
    fill: solid;
    color: #212121; 
}
.contacts {
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
    fill: solid;
    text-align: left;
    vertical-align: top; 
}
.mail1 {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    fill: solid;
    text-align: left;
    vertical-align: top;
    color: #2196F3;  
}
.tel1 {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    fill: solid;
    text-align: left;
    vertical-align: top;
    color: #757575;    
}
.page-section {
    background-color: #2F303A;
    font-family: roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align:center;
    vertical-align: top;
    fill: solid;
    color:#FFFFFF; 
    width: 1380px;
    height: 400px;
    top: 10px;
    left: 20px;
    margin:auto;
    display:inline-block;
}
.title {
    background-color:#2F303A;
    font-family: roboto;
    font-weight: 900;
    font-size: 30px;
    line-height:normal;
    text-align: center;
    padding: 20px;
    fill: solid;
    color:#FFFFFF;
    width: 1380px;
    height: 200px;
    top: 280px;
    left: 452px;
    margin:auto;
    padding:auto;
}
.button-request {
    background-color:#2196F3;
    font-family: roboto;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.8;
    text-align: center; 
    vertical-align: center;
    fill: solid;
    color:#FFFFFF; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    top: 430px;
    left: 700px;
    border-radius: 10px;
    border: #2196F3;
    display:center;

      
}

.page-section1 {
    background-color: #2F303A;
}
.WebStudio1 {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
    text-align: left;
}
.logo-highlight1 {
    color: #2196F3;  
}
.adress {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    fill: solid;
    text-align: left;
    vertical-align: top;
}
.mail {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    fill: solid;
    text-align: left;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.6);  
}
.tel {
    font-family: roboto;
    font-style: 400;
    font-size: 14px;
    line-height: 1.14;
    fill: solid;
    text-align: left;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.6);    
}
.page-section2 {
    background-color: #2F303A;
}

